<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark mode</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <div class="container">
        <div class="con-nav">
            <div class="nav-left">
                Logo
            </div>
            <div class="nav-right">
                <li><a href="/index">Home</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/about">About</a></li>
              
                <i class="bi bi-moon-fill" style="font-size: 1.2rem; cursor:pointer"></i>





            </div>

        </div>




        





        <div class="con">
            <div class="con-left">
               <div class="text">
                <div class="left-text1">We are AB Brands</div>
                <div class="left-text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque recusandae reprehenderit autem animi quasi. Iusto?</div>
                <div class="left-text3">More Explore</div>
               </div>
            </div>




            <div class="con-right">
                <img src="/images/aboutimg-removebg.png" alt="">
            </div>
        </div>

    </div>








       <script src="/js/about.js"></script>
</body>

</html>