<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav-bar Slider</title>

<link rel="stylesheet" href="/css/index.css">


</head>
<body>

        <div class="nav-side" id="nav-side">
        <div class="nav-text">AB Brands</div>
        <div class="list">
            <li class="close" onclick="nav_close()">Close</li>
            <li><a href="/product">Products</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="">But Now</a></li>
            <li><a href="/register">Register Now</a></li>
        </div>
    </div>


<div id="op">
    <div class="nav-bar">
        <div class="nav-t">
            AB Brands
        </div>


        <div class="nav-tog">
            <a class="open" href="#" >☰</a>
        </div>

    </div>















    <div class="container">
        
    </div>





















     <script src="/js/index.js"></script>
</body>
</html>